<div class="table-container">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let emp">{{ emp.id ?? 'N/A' }}</td>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let emp">{{ emp.firstName ?? 'N/A' }}</td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let emp">{{ emp.lastName ?? 'N/A' }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let emp">{{ emp.email ?? 'N/A' }}</td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let emp">{{ emp.phone ?? 'N/A' }}</td>
    </ng-container>
    <ng-container matColumnDef="hireDate">
      <th mat-header-cell *matHeaderCellDef>Hire Date</th>
      <td mat-cell *matCellDef="let emp">{{ (emp.hireDate | date) ?? 'N/A' }}</td>
    </ng-container>
    <ng-container matColumnDef="jobId">
      <th mat-header-cell *matHeaderCellDef>Job ID</th>
      <td mat-cell *matCellDef="let emp">{{ emp.jobId ?? 'N/A' }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="loading-overlay" *ngIf="loading">
    <mat-spinner diameter="50" *ngIf="loading"></mat-spinner>
  </div>


  <mat-paginator
    [length]="totalElements"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 50]"
    (page)="loadData()">
  </mat-paginator>
  
</div>