:host {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.container {
  width: 100%;
  max-width: 1200px;
}

mat-table {
  width: 100%;
  margin-top: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

mat-paginator {
  margin-top: 1rem;
  display: flex;
  justify-content: end;
}

.table-container {
  position: relative;
  min-height: 300px;         
  margin-bottom: 16px;      
}

.loading-overlay {
  position: absolute;
  top: 0; left: 0; right: 0;
  bottom: 0;  
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.7);
  z-index: 10;                /* vor der Tabelle */
}